.inline-block {
	display:block;
}

.right {
	float:right;
}

.bold {
	font-weight:800;
}


#login{
	background:url(../img/home-bg.jpg) no-repeat;
	background-size:100%;
}

.login-home a {
	width:35%;
	float:right;
	margin-left:15px;
	display:inline-block;
}

.login-home a .ui-btn-text {
	font-size:12px;
}

.login-home a .ui-btn-inner {
	padding: 2px 5px;
}

.login-home {
	width:75%;
	display:block;
	margin:175px auto 0;
}


/* HOME */
.profile {
	height:40px;
	width:auto;
	position:absolute;
	top:0;
	right:5px;
}

.no-collapse .ui-collapsible-content {
	display:none;
}

.plus-sign {
	float:right;
	font-size:19px;
}

#home .ui-icon.ui-icon-plus.ui-icon-shadow {
	display:none;
}

a.my-travels {
	background:#fff url(../img/wereldbol.png) no-repeat 10px 5px;
	background-size:10%;
	padding-left:25px;
}

a.my-documents {
	background:#fff url(../img/documenten_icon.png) no-repeat 10px 5px;
	background-size:10%;
	padding-left:25px;
}

a.my-tips {
	background:#fff url(../img/tips_and_tricks_icon.png) no-repeat 10px 5px;
	background-size:10%;
	padding-left:25px;
}

a.my-profile {
	background:#fff url(../img/profiel_icon.png) no-repeat 10px 5px;
	background-size:10%;
	padding-left:25px;
}

#home .ui-btn-inner {
	text-align:left;
	margin-left:20px;
}

/* new journey*/